<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gas Station - Serviços</title>
    <link rel="stylesheet" href="assets/css/pages_initials.css" />
    <link
      rel="stylesheet"
      href="/assets/css/modais-servico/cadastrar_servico.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/modais-servico/modal_agendar_servico.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/modais-servico/modal_listar_agendamentos.css"
    />
    <style>
      .menu li:nth-child(4) a {
        background-color: #c31010;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <div class="profile">
        <h1 class="login-title">GAS STATION</h1>
        <img src="/assets/logo_gas 1.png" alt="Profile" />
        <h2><%= nomeFuncionario %></h2>
        <p>Funcionário</p>
      </div>
      <ul class="menu">
        <li>
          <a href="/home"
            ><img src="/assets/home-lg-alt 1.png" alt="home" />Início</a
          >
        </li>
        <li><a href="/combustivel">Combustível</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/funcionario">Funcionários</a></li>
        <li><a href="/fornecedores">Fornecedores</a></li>
      </ul>
      <button id="logoutButton" class="logout">
        Logout<img src="/assets/Vector (1).png" alt="sair" />
      </button>
    </div>
    <div class="content">
      <button id="cadastrar-servico">Cadastrar Serviço</button>
      <button id="agendar-servico">Agendar Serviço</button>
      <button id="consultar-servico">Consultar Serviços</button>
      <button id="consultar-agendamento">Consultar agendamento</button>
      <button id="listar-agendamentos">Listar Agendamentos</button>
      <button id="gerar-relatorio">Gerar relatório de serviços realizados</button>
    </div>
    <%- include('modal_cadastrar') %><%- include('modal_agendar_servico') %>
    <%- include('modal_listar_agendamentos') %>
    
  </body>
  <script>
    document.getElementById("logoutButton").addEventListener("click", () => {
      window.location.href = "/logout"; // Redireciona para a rota de logout
    });
    function abrirModal(id) {
      document.getElementById(id).style.display = "block";
    }
    function fecharModal(id) {
      document.getElementById(id).style.display = "none";
    }

    document
      .getElementById("cadastrar-servico")
      .addEventListener("click", () => abrirModal("modalCadastrarServico"));

    document
      .getElementById("agendar-servico")
      .addEventListener("click", () => abrirModal("modalAgendarServico"));

    document
      .getElementById("listar-agendamentos")
      .addEventListener("click", () => abrirModal("modalListarAgendamentos"));
      
    document
      .getElementById("consultar-servico")
      .addEventListener("click", () => abrirModal("modalConsultarServico"));

    // Fechar modal ao clicar fora
    window.onclick = function (event) {
      if (event.target.classList.contains("modal")) {
        event.target.style.display = "none";
      }
    };
  </script>
</html>
