<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gas Station - Fornecedores</title>
    <link rel="stylesheet" href="assets/css/pages_initials.css" />
    <link
      rel="stylesheet"
      href="assets/css/modais-fornecedor/modal_cadastrar.css"
    />
    <link
      rel="stylesheet"
      href="assets/css/modais-fornecedor/modal_consultar_forn.css"
    />
    <style>
      .menu li:nth-child(6) a {
        background-color: #c31010;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <div class="profile">
        <h1 class="login-title">GAS STATION</h1>
        <img src="/assets/logo_gas 1.png" alt="Profile" />
        <h2><%= nomeFuncionario %></h2>
        <p>Funcionário</p>
      </div>
      <ul class="menu">
        <li>
          <a href="/home"
            ><img src="/assets/home-lg-alt 1.png" alt="home" />Início</a
          >
        </li>
        <li><a href="/combustivel">Combustível</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/funcionario">Funcionários</a></li>
        <li><a href="/fornecedores">Fornecedores</a></li>
      </ul>
      <button id="logoutButton" class="logout">
        Logout<img src="/assets/Vector (1).png" alt="sair" />
      </button>
    </div>
    <div class="content">
      <button id="cadastrar-fornecedor">Cadastrar Fornecedor</button>
      <button id="cadastrar-fornecedor">Consultar Fornecedor</button>
      <button id="listar-fornecedores">Listar Fornecedores</button>
    </div>
    <%- include('modal_cadastrar') %>
    <%- include('modal_consultar_forn') %>
  </body>
  <script>
    document.getElementById("logoutButton").addEventListener("click", () => {
      window.location.href = "/logout"; // Redireciona para a rota de logout
    });

    // Função para abrir e fechar modais
    function abrirModal(id) {
      document.getElementById(id).style.display = "block";
    }
    function fecharModal(id) {
      document.getElementById(id).style.display = "none";
    }

    // Eventos de clique para abrir os modais
    document
      .getElementById("cadastrar-fornecedor")
      .addEventListener("click", () => abrirModal("modalCadastrar"));
      
    document
      .getElementById("consultar-fornecedor")
      .addEventListener("click", () => abrirModal("modalConsultarForn"));

    document
      .getElementById("listar-fornecedores")
      .addEventListener("click", () => abrirModal("modalListarForn"));

    // Fechar modal ao clicar fora
    window.onclick = function (event) {
      if (event.target.classList.contains("modal")) {
        event.target.style.display = "none";
      }
    };
  </script>
</html>
