/* Modal Listar Funcionários */

/* Corpo do Modal */
.modal-body {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Tabela de Funcionários */
.table-container {
  width: 100%;
  overflow-x: auto;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  color: #acacac;
}

.produtos-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.produtos-table th,
.produtos-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid white;
}

.produtos-table th {
  border-top: 0.5px solid #e5e5e5;
}

.produtos-table th {
  background-color: white;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.produtos-table tr td {
  color: black;
}

.produtos-table th:hover {
  background-color: #e6e6e6;
}

.produtos-table tr:hover {
  background-color: #f5f5f5;
}

.loading-message {
  text-align: center;
  padding: 20px;
  color: #666;
}

.no-data-message {
  text-align: center;
  padding: 20px;
  color: #666;
}

th:last-child,
td:last-child {
  text-align: left;
}

th:last-child {
  padding-left: 13px;
}

/* Botões de Ação */
.action-buttons {
  display: flex;
  justify-content: flex-start;
}

.view-button,
.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.pagination button {
  background-color: #292929;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #1a1a1a;
}

#pageInfo {
  font-size: 14px;
}
