/* Modal Registro de Venda de Produto */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 94%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #fff;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Header do Modal */
.modal-header {
  background-color: #c11b1b;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  flex-grow: 1;
}

.back-button,
.home-button {
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.arrow-left img,
.home-icon img {
  width: 80%;
  height: auto;
}

/* Corpo do Modal */
.modal-body {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

/* Formulário */
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  gap: 15px;
  justify-content: flex-end;
}

.form-group {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Checkbox styling */
input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

/* Opções de pagamento */
.payment-options {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.payment-option {
  display: flex;
  align-items: center;
}

.payment-option input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.payment-option label {
  display: inline;
  margin-bottom: 0;
}

/* Botão Registrar/Cadastrar */
.cadastrar-btn-reg {
  background-color: #292929;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  width: 25%;
}

.cadastrar-btn-reg:hover {
  background-color: #1a1a1a;
}

/* Estilos específicos para o layout de checkboxes */
.checkbox-container {
  display: flex;
  gap: 35px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-right: 25px;
  gap: 7px;
}

.checkbox-item input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.checkbox-item label {
  display: inline;
  margin-bottom: 0;
}

#data,
#valorTotal,
#quantidade {
  width: 30%;
}

#produto {
  width: 80%;
}

#funcionario {
  width: 70%;
  margin-left: -70px;
}

label[for="funcionario"] {
  margin-left: -70px;
}

label[for="formaPagamento"] {
  width: 80px;
  line-height: 20px;
}
