<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Usuários</h1>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.usuario %> - <%= user.cpf %></li>
    <% }) %>
  </ul>
</body>
</html>