<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gas Station</title>
    <link rel="stylesheet" href="/assets/css/home.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="profile">
        <h1 class="login-title">GAS STATION</h1>
        <img src="/assets/logo_gas 1.png" alt="Profile" />
        <h2><%= nomeFuncionario %></h2>
        <p>Funcionário</p>
      </div>
      <ul class="menu">
        <li>
          <a href="/home"
            ><img src="/assets/home-lg-alt 1.png" alt="home" />Início</a
          >
        </li>
        <li><a href="/combustivel">Combustível</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/funcionario">Funcionários</a></li>
        <li><a href="/fornecedores">Fornecedores</a></li>
      </ul>
      <button id="logoutButton" class="logout">
        Logout<img src="/assets/Vector (1).png" alt="sair" />
      </button>
    </div>
    <div class="content">
      <div class="buttons">
        <button id="combustivel">Combustível</button>
        <button id="produtos">Produtos</button>
        <button id="servicos">Serviços</button>
      </div>
      <div class="buttons2">
        <button id="funcionario">Funcionários</button>
        <button id="fornecedores">Fornecedores</button>
      </div>
    </div>
  </body>
  <script>
    document.getElementById("logoutButton").addEventListener("click", () => {
      window.location.href = "/logout"; // Redireciona para a rota de logout
    });
    document.getElementById("combustivel").addEventListener("click", () => {
      window.location.href = "/combustivel"; //Redireciona para a rota de page_combustivel
    });
    document.getElementById("produtos").addEventListener("click", () => {
      window.location.href = "/produtos"; //Redireciona para a rota de page_produtos
    });
    document.getElementById("servicos").addEventListener("click", () => {
      window.location.href = "/servicos"; //Redireciona para a rota de page_servicos
    });
    document.getElementById("funcionario").addEventListener("click", () => {
      window.location.href = "/funcionario"; //Redireciona para a rota de page_funcionario
    });
    document.getElementById("fornecedores").addEventListener("click", () => {
      window.location.href = "/fornecedores"; //Redireciona para a rota de page_fornecedores
    });
  </script>
</html>
