<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/login.css" />
    <title>Gas Station - Login</title>
    
  </head>
  <body>
    <img
      src="/assets/logo_gas 1.png"
      alt="Logo do Posto"
      class="logo-container"
    />

    <div class="login-card">
      <h1 class="login-title">Gas Station</h1>
      <div class="subtitles">
        <p class="login-subtitle">LOGIN</p>
        <p class="login-subtitle2">Entre com suas credenciais de login</p>
      </div>

      <form id="loginForm">
        <div class="form-group">
          <label class="form-label">Usuário</label>
          <input
            type="text"
            id="usuario"
            class="form-input"
            placeholder="Insira seu usuário"
            required
          />
        </div>

        <div class="form-group">
          <label class="form-label">Senha</label>
          <input
            type="password"
            id="senha"
            class="form-input"
            placeholder="Insira sua senha"
            required
          />
        </div>

        <button type="submit" class="login-button">Realizar Login</button>
      </form>
    </div>

    <div class="bottom-shape"></div>
  </body>
  <script>
    document
      .getElementById("loginForm")
      .addEventListener("submit", async (event) => {
        event.preventDefault(); // Impede o recarregamento da página

        const usuario = document.getElementById("usuario").value;
        const senha = document.getElementById("senha").value;

        const response = await fetch("/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ usuario, senha }),
        });

        const data = await response.json();

        if (response.ok) {
          localStorage.setItem("token", data.token); // Armazena o token JWT
          window.location.href = `/home?nome=${encodeURIComponent(data.nome)}`;
        }
      });
  </script>
</html>
