<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gas Station - Funcionários</title>
    <link rel="stylesheet" href="assets/css/page_funcionario.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="profile">
        <h1 class="login-title">GAS STATION</h1>
        <img src="/assets/logo_gas 1.png" alt="Profile" />
        <h2><%= nomeFuncionario %></h2>
        <p>Funcionário</p>
      </div>
      <ul class="menu">
        <li>
          <a href="#"
            ><img src="/assets/home-lg-alt 1.png" alt="home" />Início</a
          >
        </li>
        <li><a href="#">Combustível</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Funcionários</a></li>
        <li><a href="#">Fornecedores</a></li>
      </ul>
      <button id="logoutButton" class="logout">
        Logout<img src="/assets/Vector (1).png" alt="sair" />
      </button>
    </div>
    <div class="content">
      <button>Cadastrar Funcionário</button>
      <button>Consultar Funcionário</button>
      <button>Listar Funcionários</button>
    </div>
  </body>
  <script>
    document.getElementById("logoutButton").addEventListener("click", () => {
      window.location.href = "/logout"; // Redireciona para a rota de logout
    });
  </script>
</html>