/* Modal Consultar Serviço */

/* Corpo do Modal */
#resultadoConsultaServico {
    display: none;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    min-height: 60vh;
  }
  
  #consultaServicoForm #servico2 {
    width: 130%;
    transform: translateX(-12.3%);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  #consultaServicoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
  }
  
  #consultaServicoForm label {
    transform: translateX(-15%);
    font-size: 16px;
  }
  
  #consultaServicoForm .form-group-cons {
    width: 100%;
  }
  
  .form-btn-res-servico {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 130px;
    gap: 15px;
    justify-content: flex-end;
  }
  
  .save-btn-servico {
    background-color: #292929;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 20%;
  }
  
  .cancel-btn-servico {
    background-color: #999;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 20%;
  }
  
  .form-btn-cons-servico {
    display: flex;
    width: 110%;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 15px;
    justify-content: center;
  }
  
  .consultar-btn-servico {
    background-color: #292929;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 130%;
  }
  
  .consultar-btn-servico:hover {
    background-color: #1a1a1a;
  }
  
  /* Formulário */
  
  /* Botões de ação (editar e excluir) */
  .action-buttons-servico {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .edit-btn-servico,
  .delete-btn-servico {
    color: #d70000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .edit-btn-servico img,
  .delete-btn-servico img {
    width: 50%;
  }
  
  #nomeServico2,
  #responsavel2 {
    width: 70%;
  }
  
  #valorServico2,
  #tempoEstimado2 {
    width: 61%;
  }
  
  #tempoEstimado2,
  label[for="tempoEstimado2"] {
    margin-left: -55px;
  }
  
  #formConsultarServico .form-actions {
    gap: 20px;
  }
  
  #selectResponsavel {
    width: 70%;
  }